<% url = game.medium.where(media_type: "cover").first&.url %>
<%= link_to game_path(game) do %>
    <div class="card game-card" style='background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("https://images.igdb.com/igdb/image/upload/t_cover_big_2x/<%= url %>.jpg");'>
    <div class="card-title">
        <h1><%= game.title %></h1>
    </div>
    <div class="card-info-box">
        <p>
        <% game.genres.each do |genre| %>
        <%= genre.name %>
        <% end %>
    </p>
    <p>
        <% game.platforms.each do |platform| %>
        <%= platform.name %>
        <% end %>
    </p>
    </div>
        <!-- <p><%= game.description %></p> -->
    <div class="metacritic">
        <% if game.metacritic.to_i <= 50 %>
        <p class="metacritic-low"><%= game.metacritic.to_f.round %></p>
        <% elsif game.metacritic.to_i <= 74 %>
        <p class="metacritic-med"><%= game.metacritic.to_f.round %></p>
        <% else %>
        <p class="metacritic-hi"><%= game.metacritic.to_f.round %></p>
        <% end %>


    </div>


    </div>
<% end %>