<div class="showpage-profile">
  <div class="text-colour-white">
    <h1>My Profile</h1>
    <% if current_user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, height: 300, width: 300, crop: :fill %>
    <% else %>
      <%= image_tag "no-user-avatar.png", height: 300, width: 300, crop: :fill %>
    <% end %>
    <h3 class="mt-3 text-center"><%= link_to "Edit", edit_user_registration_path, class: "text-colour-white" %></h3>
  </div>
</div>
<div class="games-list">
<div id="accordion">
  <div class="d-flex flex-column align-items-center">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link m-auto text-colour-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Completed
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body cards">
        <% @user.user_games.each do |user_game| %>
        <% if user_game.completed %>
          <%= render "card", game: user_game.game %>
        <% end %>
    <% end %> 
      </div>
    </div>
  </div>
  <div class="">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed m-auto text-colour-white" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Owned
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body cards">
        <% @user.user_games.each do |user_game| %>
        <% if user_game.owned %>
          <%= render "card", game: user_game.game %>
        <% end %>
    <% end %>
      </div>
    </div>
  </div>
  <div class="">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed m-auto text-colour-white" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Wishlist
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body cards">
    <% @user.user_games.each do |user_game| %>
        <% if user_game.wishlist %>
            <%= render "card", game: user_game.game %>
        <% end %>
    <% end %>
      </div>
    </div>
  </div>
</div>








</div>
</div>

