<%= content_for(:navbar_class, "navbar-home") %>



<div class="banner">

  <div class="banner-content text-center">
    <%= form_tag search_games_path, class: "form d-flex", method: :get do %>
      <%= text_field_tag :q,
      params[:q],
      class: "form-control-search mr-sm-2",
      placeholder: "Enter game title..."
      %>
      <%= submit_tag "Search", class: "btn btn-outline my-2 my-sm-0 d-flex" %>
        <%= link_to "Filter", advanced_search_index_path, class: "btn btn-outline my-2 my-sm-0 d-flex" %>
      <%= link_to random_games_path do %>
      <div id="perspective">
    <div id="die-1" class="die">
        <div class="face face-1">
            <div class="dot"></div>
        </div>
        <div class="face face-2">
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <div class="face face-3">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <div class="face face-4">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <div class="face face-5">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <div class="face face-6">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>
        <%#=  image_tag ("dice.png"), class: "random-dice" %>
      <% end %>
    <% end %>

    <div class="cards-home">

      <%#= link_to random_games_path, class: "click-home", method: :get do %>
        <div class="card-home">
          <h3>Find</h3><br><p>Find your next game! <br><i class="fas fa-search"></i></p>
        </div>
      <%# end %>

      <%#= link_to advanced_search_index_path, class: "click-home" do  %>
        <div class="card-home">
          <h3>Filter</h3> <br><p>Personalise your search! <br><i class="fas fa-filter"></i></p>
        </div>
      <%# end %>

      <%#= link_to recommendations_user_games_path, class: "click-home" do %>
        <div class="card-home">
          <h3>Fun</h3><br><p>Choose the next best game to play!<br><i class="fas fa-gamepad"></i></p>
        </div>
      <%# end %>

    </div>
  </div>
</div>
<%= content_for(:footer_class, "footer-home") %>

