<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>What Game? </h1>
    <div class="cards-home">

      <%= link_to random_games_path, class: "click-home", method: :get do %>
        <div class="card-home">
          <p>Find<br><br> Find your next game! <br><br><br><i class="fas fa-search"></i></p>
        </div>
      <% end %>

      <%= link_to advanced_search_index_path, class: "click-home" do  %>
        <div class="card-home">
          <p>Filter<br> <br>Filter your search to find the perfect game for you! <br><i class="fas fa-filter"></i></p>
        </div>
      <% end %>

      <%= link_to recommendations_user_games_path, class: "click-home" do %>
        <div class="card-home">
          <p>Play<br><br>Choose the next best game to play!<br><br><i class="fas fa-gamepad"></i></p>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= content_for(:footer_class, "footer-home") %>

