<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>What Game? </h1>
    <div class="cards-home">

      <%= link_to random_games_path, class: "click-home", method: :get do %>
        <div class="card-home">
          <h3>Find</h3> <br><p>Find your next game! <br><br><i class="fas fa-search"></i></p>
        </div>
      <% end %>

      <%= link_to advanced_search_index_path, class: "click-home" do  %>
        <div class="card-home">
          <h3>Filter</h3><br> <p>Filter your search to find the perfect game for you! <br><i class="fas fa-filter"></i></p>
        </div>
      <% end %>

      <%= link_to user_path(@user), class: "click-home" do %>
        <div class="card-home">
          <h3>Play</h3> <br><p>Choose the next best game to play!<br><br><i class="fas fa-gamepad"></i></p>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= content_for(:footer_class, "footer-home") %>

