<!-- <div class="container-index">
  <div class= "cards"> -->
  <div class="cards">
    <% @games.each do |game| %>
      <div class="card">
        <div class="card-title">
          <h1><%= game.title %></h1>
        </div>
        <div class="card-info-box">
        <!--   <p><%= game.genres.first %></p>
          <p><%= game.platforms.first %></p> -->
          <p>PS5, PS4</p>
          <p>Action, RPG</p>
        </div>
            <!-- <p><%= game.description %></p> -->
        <div class="metacritic">
          <p>85</p>
          <!-- <h2><%= game.metacritic %></h2> -->
        </div>
      </div>
    <% end %>
  </div>

